/* all bellow is main-page */

.main-page {
    background-color: #faf7f2;
}
#main-heading {
    background-color: #4d1f00eb;
    padding: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 236, 212);
    border-radius: 25px;
}

.site-selector{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

a:visited {
    color:rgb(161, 94, 36)
}
.pizza:hover {
    color:#c91c1c;
}
.sushi:hover {
    color:#ff6b6b;
}

.döner:hover {
    color:#5c3a21;
}

/* all bellow is pizza-page */

.pizza-image {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pizza-heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #4d1f00eb;
    font-size: 55px;
    width: auto;
    text-align: center;
}

.home-anchor {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    text-align: center;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;

}

p {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    font-size: 24px;

}