#main-heading {
    background-color: #4d1f00eb;
    padding: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 236, 212);
    border-radius: 25px;
}

.site-selector{
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.pizza:hover {
    color:#c91c1c;
}
.pizza {
    background-color: beige;
}
.sushi:hover {
    color:#ff6b6b;
}

.döner:hover {
    color:#5c3a21;
}